body {
  background-color: black;
}

a:link{
  text-decoration: none;
  color: red;
}

a:visited{
  text-decoration: none;
  color: red;
}

a:hover{
  text-decoration: none;
  color: yellow;
  font-style: italic;
  letter-spacing: 2px;
}

.text {
  color: white;
  font-size: 30px;
  transform: rotate(270deg);
  margin-top: -600px;
  margin-right: 1110px;
  height: auto;
  font-family: sans-serif;
  line-height: 45px;
  letter-spacing: 1px;
}

.container {
  /* background-color: white; */
  width: 900px;
  height: 1435.54px;
  border-width: 60px;
  border-color: white;
  border-style: solid;
  margin: 100px;
  margin-left: 300px;
  margin-bottom: 300px;
}

.main {
  display: grid;
  grid-template-columns: 70px 170px auto 155px 20px;
  grid-template-rows: 100px 440px 270px 90px 236px 302px;
  border-width: 2px;
  border-color: black;
  /* border-style: dashed; */
}

.item-1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  background-color: black;

}

.item-2 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 2;
  background-color: #D00404;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px 7px 7px;
}

.item-3 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  background-color: #E5E4DF;
  border-color: black;
  border-style: solid;
  border-width: 0px 7px 7px 0px;
}

.item-4 {
  grid-column: 3 / span 2;
  grid-row: 3;
  background-color: #C9CCD6;
  border-color: black;
  border-style: solid;
  border-width: 7px 7px 7px 7px;
}

.item-5 {
  grid-column: 5;
  grid-row: 3 /span 3;
  background-color: #F0F0F3;
  border-color: black;
  border-style: solid;
  border-width: 7px 0px 7px 7px;
}

.item-6 {
  grid-column: 1;
  grid-row: 4;
  background-color: black;
  border-color: black;
  border-style: solid;
  border-width: 7px 7px 7px 0px;
}

.item-7 {
  grid-column: 1;
  grid-row: 5 / span 2;
  background-color: #FFF748;
  border-color: black;
  border-style: solid;
  border-width: 7px 7px 0px 0px;
}

.item-8 {
  grid-column: 2;
  grid-row: 4 / span 3;
  background-color: #C9CCD6;
  border-color: black;
  border-style: solid;
  border-width: 7px 7px 0px 7px;
}

.item-9 {
  grid-column: 3 / span 2;
  grid-row: 4 / span 2;
  background-color: #C6C9D6;
  border-color: black;
  border-style: solid;
  border-width: 7px 7px 7px 7px;
}

.item-10 {
  grid-column: 3;
  grid-row: 6;
  background-color: #E5E4DF;
  border-color: black;
  border-style: solid;
  border-width: 7px 7px 14px 7px;
}

.item-11 {
  grid-column: 4 / span 2;
  grid-row: 6;
  background-color: #06095B;
  border-color: black;
  border-style: solid;
  border-width: 7px 0px 14px 7px;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
  .container {
    /* background-color: white; */
    width: 600px;
    height: 957px;
    border-width: 20px;
    border-color: lightblue;
    border-style: solid;
    margin: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .main {
    display: grid;
    grid-template-columns: 46.7px 113.3px auto 103.3px 13.3px;
    grid-template-rows: 66.66px 293.34px 180px 60px 157.33px 201.33px;
    border-width: 2px;
    border-color: black;
    padding-bottom: 80px;
    /* border-style: dashed; */
  }
  .text {
    color: white;
    font-size: 20px;
    transform: rotate(90deg);
    margin-top: -880px;
    margin-right: 100px;
    height: 100px;
    width: 200px;
    font-family: sans-serif;
    line-height: 25px;
    letter-spacing: 1px;
  }
}
